# client gitignore
# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# signaling gitignore
/signaling/node_modules